@font-face {
  font-family: 'Dongle_L';
  src: url('../../public//font//Dongle-Light.ttf');
}

@font-face {
  font-family: 'Dongle_R';
  src: url('../../public//font//Dongle-Regular.ttf');
}

@font-face {
  font-family: 'Dongle_B';
  src: url('../../public//font//Dongle-Bold.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Dongle_R';
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  height: 5%;
  background: rgb(13, 13, 14);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #f2f2f270;
}
